<section class="auth">
    <div class="col">
        <form class="auth__form" action="/admin" method="POST" encType="multipart/form-data">
            <div class="labeler">
                <input class="labeler__input" type="text" name="login" onchange="checklabel(this)">
                <div class="labeler__placeholder">Login</div>
            </div>
            <div class="labeler">
                <input class="labeler__input" type="password" name="pass" onchange="checklabel(this)">
                <div class="labeler__placeholder">Password</div>
            </div>
            <button type="submit" class="mybtn">Дерzzать</button>
        </form>
    </div>
</section>