<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>IDNS-group</title>
<link rel="stylesheet" href="/css/main.css">
<link rel="icon" href="/imgs/logo/icon.ico">
<script src="https://kit.fontawesome.com/b99bea313e.js" crossorigin="anonymous"></script>
<!-- use of fontawesome https://fontawesome.com/kits/b99bea313e/use?welcome=yes -->