<section class="conts">
    <div class="con">
        <div class="conts__ge">
            <div class="conts__gc">
                
            </div>
            <div class="conts__gc">
                
            </div>
        </div>
    </div>
</section>