<section class="footer">
    <div class="con">
        <div class="footer__el">
            <a href="lang/">
                <img src="/imgs/logo/logo-horiz-black.png" alt="black logo of tadqiqotlar markazi" class="footer__logo">
            </a>
            <a href="">shower</a>
            <a href="">shower</a>
            <a href="">addr</a>
            <div class="footer__el--links">
                <a href="">
                    <i class="fab fa-facebook"></i>
                </a>
                <a href="">
                    <i class="fab fa-telegram"></i>
                </a>
                <a href="">
                    <i class="fab fa-instagram"></i>
                </a>
            </div>
        </div>
        <div class="footer__el">
            <h5>text.xizmat</h5>
                <a href="">dbase</a>
                <a href="">dbase</a>
                <a href="">dbase</a>
                <a href="">dbase</a>
                <a href="">dbase</a>
        </div>
        <div class="footer__el">
            <h5>text.sms</h5>
            <form action="lang/" method="POST" class="footer__form">
                <input name="email" type="email" placeholder="E-mail" pattern='[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2, 4}$' required>
                <button type="submit" class="simple__btn">text.turn_on</button>
                <input name="type" type="hidden" value="mail">
            </form>
            <p>text.agreement</p>
        </div>
    </div>
</section>
<section class="rights">
    <div class="con">
        <p>Lazizjonov</p>
    </div>
</section>