<section class="info" style="background-image: linear-gradient(135deg, #001d38a6, #001d389e), url(/imgs/contactus.jpg);">
    <div class="con">
        <div class="info__head">
            <h1><%= name %></h1>
        </div>
    </div>
</section>