<section class="acts">
    <div class="con">
        <div class="acts__ge">
            <a href="" class="acts__gc" style="background-image: url(imgs/project-1.jpg)">
                <h1>asd</h1>
                <p>This is desc</p>
            </a>
            <a href="" class="acts__gc" style="background-image: url(imgs/project-2.jpg)">
                <h1>asd</h1>
                <p>This is desc</p>
            </a>
            <a href="" class="acts__gc" style="background-image: url(imgs/project-3.jpg)">
                <h1>asd</h1>
                <p>This is desc</p>
            </a>
        </div>
    </div>
</section>