<section class="bas">
    <div class="con">
        <div class="bas__ge">
            <div class="bas__gc">
                <div class="bas__gc--ci">
                    <i class="fas fa-drafting-compass"></i>
                </div>
                <h1>This is 1 service</h1>
                <p>this is 1 desc lorem ipsum sit amet dor</p>
            </div>
            <div class="bas__gc">
                <div class="bas__gc--ci">
                    <i class="fas fa-home"></i>
                </div>
                <h1>This is 2 service</h1>
                <p>this is 2 desc lorem ipsum sit amet dor</p>
            </div>
            <div class="bas__gc">
                <div class="bas__gc--ci">
                    <i class="fas fa-ruler-combined"></i>
                </div>
                <h1>Aniq o'lchamlar</h1>
                <p>Qurilish vaqtida loyiha bo'yicha qo'shimcha o'lchamlar qilishga xojat yo'q</p>
            </div>
            <div class="bas__gc">
                <div class="bas__gc--ci">
                    <i class="fas fa-wallet"></i>
                </div>
                <h1>Tejamkor qurilish</h1>
                <p>Qurilishni sifatli va chidamli loyihalash bilan birga mahsulotlardan tejamkor foydalanish</p>
            </div>
        </div>
    </div>
</section>