<section class="sas">
    <div class="con">
        <div class="sas__gh">
            <a href="">Loyihalar</a>
        </div>
        <div class="sas__ge">
            <div class="sas__gc">
                <div class="sas__gc--img">
                    <img src="/imgs/default-1.jpg" alt="idns project">
                </div>
                <div class="sas__gc--header">
                    <h2>This is header</h2>
                </div>
                <div class="sas__gc--text">
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                        Voluptas officia autem alias magnam omnis aliquam. 
                        Natus vero totam aspernatur sit quidem facilis accusamus 
                        minima, maiores nostrum veniam nulla quae porro?</p>
                </div>
                <div class="sas__gc--btn simple__btn">
                    Read more
                </div>
            </div>
            <div class="sas__gc">
                <div class="sas__gc--img">
                    <img src="/imgs/default-1.jpg" alt="idns project">
                </div>
                <div class="sas__gc--header">
                    <h2>This is header</h2>
                </div>
                <div class="sas__gc--text">
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                        Voluptas officia autem alias magnam tem alias magnam omnis aliquam. 
                        Natus vero totam aspernatur sit quidem facilis accusamus 
                        minima, maiores nostrum veniam nulla quae porroomnis aliquam. 
                        Natus vero totam aspernatur sit quidem facilis accusamus 
                        minima, maiores nostrum veniam nulla quae porro?</p>
                </div>
                <div class="sas__gc--btn simple__btn">
                    Read more
                </div>
            </div>
            <div class="sas__gc">
                <div class="sas__gc--img">
                    <img src="/imgs/default-1.jpg" alt="idns project">
                </div>
                <div class="sas__gc--header">
                    <h2>This is header</h2>
                </div>
                <div class="sas__gc--text">
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                        Voluptas officia autem alias magnam omnis aliquam. 
                        Natus vero totam aspernatur sit quidem facilis accusamus 
                        minima, maiores nostrum veniam nulla quae porro?</p>
                </div>
                <div class="sas__gc--btn simple__btn">
                    Read more
                </div>
            </div>
            <div class="sas__gc">
                <div class="sas__gc--img">
                    <img src="/imgs/default-1.jpg" alt="idns project">
                </div>
                <div class="sas__gc--header">
                    <h2>This is header</h2>
                </div>
                <div class="sas__gc--text">
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                        Voluptas officia autem acia autem alias magnam omnis aliquam. 
                        Natus vero totam aspernatur sit quidem lias magnam omnis aliquam. 
                        Natus vero totam aspernatur sit quidem facilis accusamus 
                        minima, maiores nostrum veniam nulla quae porro?</p>
                </div>
                <div class="sas__gc--btn simple__btn">
                    Read more
                </div>
            </div>
            <div class="sas__gc">
                <div class="sas__gc--img">
                    <img src="/imgs/default-1.jpg" alt="idns project">
                </div>
                <div class="sas__gc--header">
                    <h2>This is header</h2>
                </div>
                <div class="sas__gc--text">
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                        Voluptas officia autemminima, maiores nostrum veniam null
                        a quae porro? alias magnam omnis aliquam. 
                        Natus vero totam aspernatur sit quidem facilis accusamus 
                        minima, maiores nostrum veniam nulla quae porro?</p>
                </div>
                <div class="sas__gc--btn simple__btn">
                    Read more
                </div>
            </div>
            <div class="sas__gc">
                <div class="sas__gc--img">
                    <img src="/imgs/default-1.jpg" alt="idns project">
                </div>
                <div class="sas__gc--header">
                    <h2>This is header</h2>
                </div>
                <div class="sas__gc--text">
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                        Voluptas officia autem alias magnam omnis aliquam. 
                        Natus vero totam aspernatur sit quidem facilis accusamus 
                        minima, maiores nostrum veniam nulla quae porro?</p>
                </div>
                <div class="sas__gc--btn simple__btn">
                    Read more
                </div>
            </div>
        </div>
    </div>
</section>