<section class="serv">
    <div class="con">
        <div class="serv__ge">
            <div class="serv__gc serv__gc--text">
                <div class="serv__gc--header">
                    <h1>Biz haqimizda</h1>
                </div>
                <div class="serv__gc--textp">
                    <p>This is text Lorem ipsum dolor sit amet, consectetur 
                        adipiscing elit, sed do eiusmod tempor incididunt ut 
                        labore et dolore magna aliqua. Ut enim ad minim veniam, 
                        quis nostrud exercitation ullamco laboris nisi ut aliquip 
                        ex ea commodo consequat. Duis aute irure dolor in reprehenderit in 
                        voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                    <p>This is text Lorem ipsum dolor sit amet, consectetur 
                        adipiscing elit, sed do eiusmod tempor incididunt ut 
                        labore et dolore magna aliqua. Ut enim ad minim veniam, 
                        quis nostrud exercitation ullamco laboris nisi ut aliquip 
                        ex ea commodo consequat. Duis aute irurla pariatur.</p>
                </div>
                
            </div>
            <div class="serv__gc serv__gc--image">
                <img src="/imgs/team.webp" alt="team of architects">
            </div>
        </div>
    </div>
</section>