<section class="slider">
    <div class="slider__elem active" style="background-image: linear-gradient(#444444b3, #0000006e), 
    linear-gradient( to right, #4343438a, #43434300, #484848b3), url(/imgs/default-1.jpg);">
        <div class="con">
            <h3 class="slider__elem--header">h3 text</h3>
            <div class="slider__elem--text">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Eum tempora nisi eius pariatur sint asperiores nam id 
                    perferendis, error rem iusto quas hic repellat ea laborum 
                    ratione nulla quae quisquam?</p>
            </div>
            <a href="" class="mybtn slider__elem--btn">ahref</a>
        </div>
    </div>
    <div class="slider__elem" style="background-image: linear-gradient(#444444b3, #0000006e), 
    linear-gradient( to right, #4343438a, #43434300, #484848b3), url(/imgs/default-2.jpg);">
        <div class="con">
            <h3 class="slider__elem--header">h3 text</h3>
            <div class="slider__elem--text">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Eum tempora nisi eius pariatur sint asperiores nam id 
                    perferendis, error rem iusto quas hic repellat ea laborum 
                    ratione nulla quae quisquam?</p>
            </div>
            <a href="" class="mybtn slider__elem--btn">ahref</a>
        </div>
    </div>
    <div class="slider__elem" style="background-image: linear-gradient(#444444b3, #0000006e), 
    linear-gradient( to right, #4343438a, #43434300, #484848b3), url(/imgs/default-3.jpg);">
        <div class="con">
            <h3 class="slider__elem--header">h3 text</h3>
            <div class="slider__elem--text">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Eum tempora nisi eius pariatur sint asperiores nam id 
                    perferendis, error rem iusto quas hic repellat ea laborum 
                    ratione nulla quae quisquam?</p>
            </div>
            <a href="" class="mybtn slider__elem--btn">ahref</a>
        </div>
    </div>
    <div class="slider__elem" style="background-image: linear-gradient(#444444b3, #0000006e), 
    linear-gradient( to right, #4343438a, #43434300, #484848b3), url(/imgs/default-4.jpg);">
        <div class="con">
            <h3 class="slider__elem--header">h3 text</h3>
            <div class="slider__elem--text">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Eum tempora nisi eius pariatur sint asperiores nam id 
                    perferendis, error rem iusto quas hic repellat ea laborum 
                    ratione nulla quae quisquam?</p>
            </div>
            <a href="" class="mybtn slider__elem--btn">ahref</a>
        </div>
    </div>
        
    <div class="slider__btn left" onclick="slide__left('slider__elem');">
        <i class="fas fa-angle-left"></i>
    </div>
    <div class="slider__btn right" onclick="slide__right('slider__elem');">
        <i class="fas fa-angle-right"></i>
    </div>
</section>